.oke-navbar {
    border-bottom: 1px solid #d0d0d0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 0px 4px #c0c0c0;
}

.mx-10perc {
    margin-right: 10%;
    margin-left: 10%;
}

.logo-img {
    max-height: 2rem;
}

.maxw-75perc {
    width: 75%;
}

.brand-link {
    display: inline-block;
}

.icon-img {
    width: 1rem;
}

.bg-lightgray {
    background-color: #f0f0f0;
}

.sidebar {
    border-right: 1px solid #d0d0d0;
    min-width: 150px;
    padding-top: 5rem;
}

.sidebar-link {
    color: #000;
}

.sidebar-link:hover {
    color: #000;
    background-color: #e7e7e7;
    border-radius: 4px;
}

.hover-primary {
    color: #000;
    border-radius: 4px;
    transition:
        color 0.1s linear,
        background-color 0.1s linear;
}

.hover-primary:hover {
    color: #fff;
    background-color: #fd7e14;
}

.searchicon-wrap {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.actions-flexgroup {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.home-content {
    padding: 3rem;
    padding-top: 5rem;
}

.content-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    min-height: 100vh;
}

.answer-icon-wrapper {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 4px;
    padding: 0.2rem 0.3rem;
    text-transform: uppercase;
    transition: background-color 0.1s linear;
}

.bg-tertiary {
    background-color: #b0b0b0;
}

.answer-icon {
    display: inline-block;
    width: 1rem;
}

.question-link {
    display: inline-block;
    font-size: 1.2rem;
}

.question-tag {
    text-decoration: none;
}

.question-description {
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.tag-description {
    font-size: 0.8rem;
}

.info-text {
    display: inline-block;
    font-size: 0.8rem;
    color: #444;
    margin: 0;
}

.filter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    border: solid 1px #a0a0a0;
    border-radius: 8px;
}

.filter-btn {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-right: solid 1px #a0a0a0;
    padding: 0.5rem 1rem;
}

.filter-item {
    display: inline-block;
}

.filter-btn:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.filter-btn:last-child {
    border-right: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.question-tag:hover {
    text-decoration: none;
}

.info-box {
    background-color: rgb(0, 180, 255, 0.1);
    border: 1px solid rgb(0, 180, 255, 0.6);
    border-radius: 8px;
}

.input-filter-tag {
    max-width: 30rem;
}

.info-box-text {
    color: #444;
    padding: 0;
}

.info-box-list {
    color: #444;
    font-size: 0.9rem;
}

.form-item {
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.form-description {
    color: #555;
    font-size: 0.9rem;
}

main {
    min-height: 100vh;
}

@media (max-width: 992px) {
    .content-grid {
        grid-template-columns: auto;
    }

    .input-filter-tag {
        max-width: auto;
    }

    .sidebar {
        padding-top: 1rem;
        border: none;
        border-bottom: 1px solid #d0d0d0;
    }

    .home-content {
        padding-top: 1rem;
    }

    .oke-navbar {
        position: relative;
    }

    .mx-10perc {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .home-content {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .actions-flexgroup {
        flex-direction: column;
        gap: 1.5rem;
    }

    .actions-flexgroup a {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    .maxw-75perc {
        margin-top: 0.5rem;
        width: 100%;
    }
}

@media (max-width: 350px){
    .filter-tag-btn-label {
        display: none;
    }
}